torch>=1.8.2
torchvision>=0.9.2
faiss_cpu>=1.7.1
numpy>=1.21.2
Pillow>=9.0.1
scikit_learn>=1.0.2
tqdm>=4.62.3
utm>=0.7.0
kornia
Shapely
einops
pip3 install --upgrade --no-cache-dir gdown       # support for download a large file from Google Drive
